#hero-2 {
  background: url(../images/head-background-small.png) no-repeat;
  height: 240px;
  width: 612px 0px;
  margin-top: 70px;

  display: block;
  margin-left: 0px;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #002c9b;
  font-weight: bold;
  font-size: 17px;
  width: 330px;
  height: 35px;
  margin-left: 0px;

  border-radius: 15px;
}

.skills-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #002c9b;
  font-weight: bold;
  font-size: 17px;
  width: 150px;
  height: 35px;
  margin: 10px 0px 0px 0px;

  border-radius: 15px;
}
.skills-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #002c9b;
  font-weight: bold;
  font-size: 17px;
  width: 180px;
  height: 35px;
  margin: 10px 0px 0px 0px;

  border-radius: 15px;
}

.skills-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #002c9b;
  font-weight: bold;
  font-size: 17px;
  width: 120px;
  height: 35px;
  margin: 10px 0px 0px 0px;

  border-radius: 15px;
}

.skills-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #002c9b;
  font-weight: bold;
  font-size: 17px;
  width: 250px;
  height: 35px;
  margin: 10px 0px 0px 0px;

  border-radius: 15px;
}

.skills-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #002c9b;
  font-weight: bold;
  font-size: 17px;
  width: 270px;
  height: 35px;
  margin: 10px 0px 0px 0px;

  border-radius: 15px;
}
.my-skills-section {
  display: block;
}

.expertise {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #002c9b;
  font-weight: bold;
  font-size: 17px;
  width: 510px;
  height: 35px;
  margin: 0px;

  border-radius: 15px;
}

.expertise-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #002c9b;
  font-weight: bold;
  font-size: 17px;
  width: 220px;
  height: 35px;
  margin: 10px 0px 0px 0px;

  border-radius: 15px;
}
.expertise-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #002c9b;
  font-weight: bold;
  font-size: 17px;
  width: 220px;
  height: 35px;
  margin: 10px 0px 0px 0px;

  border-radius: 15px;
}

.expertise-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #002c9b;
  font-weight: bold;
  font-size: 17px;
  width: 140px;
  height: 35px;
  margin: 10px 0px 0px 0px;

  border-radius: 15px;
}

.expertise-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #002c9b;
  font-weight: bold;
  font-size: 17px;
  width: 120px;
  height: 35px;
  margin: 10px 0px 0px 0px;

  border-radius: 15px;
}

.expertise-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: #002c9b;
  font-weight: bold;
  font-size: 17px;
  width: 80px;
  height: 35px;
  margin: 10px 0px 0px 0px;

  border-radius: 15px;
}
